config/nvim/lazy-lock.json
config/qtile/__pycache__
config/qutebrowser/__pycache__/
config/qutebrowser/autoconfig.yml
config/qutebrowser/.idea/
config/qutebrowser/bookmarks/
config/qutebrowser/bookmarks/urls
config/qutebrowser/quickmarks
config/qutebrowser/autoconfig.yml
config/lazygit/state.yml
.idea/
config/qutebrowser
