[Desktop Entry]
Type=Application
Name=Reboot System
Comment=Reboots System
Icon=Infinity
Exec="/home/brodie/.local/share/applications/infinityos/system_reboot.sh"
