[Desktop Entry]
Type=Application
Name=Windows 10
Comment=Reboots System
Icon=win
Exec="/home/brodie/.local/share/applications/infinityos/run_win10_vm.sh"
